 .let{color: white; size: 40px; display: flex;justify-content: space-between;align-content: center;margin-right: 40px;}
 .white{color: #ffffff;}
 .clock{color: yellow;}
 .head{ display: flex; justify-content: space-between;}
 .hero_img {
    width: 100%;
    aspect-ratio: 16 / 9 ;
    object-fit: cover;
}
body{background-color: rgb(251, 249, 199);}
h2{color: black;margin-left: auto;}
.footer {
  background-color: #cba135;
  color: #fff;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  color: yellow;
}

.footer h5, .footer h6 {
  margin-bottom: 15px;
}